<h1>login page</h1>

<form action='/login' method='POST'>
    <label > username</label>
    <input type='text' name='username' placeholder='username'>
    <label> password</label>
     <input type='password' name='username' placeholder='password'>
     <button>Login</button>
</form>


<li><a href='/register'>register here</a></li>
<li><a href='/login'>Login here</a></li>
<li><a href='/logout'>Logout</a></li>