<h1>Welcome to register page</h1>

<form action='/register' method='POST'>
    <input type='text' placeholder='username' name='username'>
    <input type='password' placeholder='password' name='password'>
    <button> Submit</button>
</form>


<li><a href='/register'>register here</a></li>
<li><a href='/login'>Login here</a></li>
<li><a href='/logout'>Logout</a></li>