<h1>this is the secret page</h1>

<P>dont tell anyone</P>

<img src='https://images.pexels.com/photos/2180918/pexels-photo-2180918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>


<li><a href='/register'>register here</a></li>
<li><a href='/login'>Login here</a></li>
<li><a href='/logout'>Logout</a></li>